# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
*.local

# Vite
.vite/

# Electrobun / Desktop
*.app
*.dmg
*.exe
*.pkg
*.zip

# Environment Variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Editor / OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
